*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-size:62.5%;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    min-width: 320px;
    max-width: 1500px;
    margin: 0 auto;
    height: auto;
    min-height: 535px;
    position: relative;
    z-index: 20;
}
:root{
    --blue  : #289DD4;
    --black : #090621;
    --white : #e2e8e8;

    --small : 1.3rem;
    --lg    : 1.8rem;
    --medium: 2.2rem;
    --xl    : 2.5rem;
    --xll   : 3rem;
}
