header{
    width: 100%;
    height: auto;
}

/*///////////////////////////////////////////////*/
/*////////////////HEADER-NAV////////////////////*/
/*//////////////////////////////////////////////*/

.header-nav{
    width: 100%;
    height: 133px;
    padding:0px  5px;
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    background-color: var(--white)
}
    .nav-up{
        width: 100%;
        padding-top:5px;
        padding-bottom: 27px;  
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
        .nav-up img{
            width: 55px;
            height: 55px;
        }
        .nav-up h1{
            margin-left: 5px;
            font-size: var(--medium);
            color: var(--black);
        }
    .nav-down{
        width: 100%;
    }
        .nav-down ul{
            display: flex;
            flex-flow: row nowrap;
        }
            .nav-down ul li{
                list-style: none;
                margin: 0 auto;
            }
            .nav-down ul li a{
                    font-size: var(--lg);
                    text-decoration: none;
                    color: var(--black);
                }
                .down-menu{
                    font-size: var(--lg);
                    text-decoration: none;
                    color: var(--black);
                    cursor: pointer;
                }
                .nav-down ul li a:hover{
                    color: var(--blue);
                }
                .down-menu:hover{
                    color: var(--blue);
                }
                .down-menu span{
                    display: inline-block;
                    width: 16px;
                    height: 18px;
                    vertical-align: top;
                    margin-left : 14px;
                    background-image: url("../MediaSources/icons/upArrow.png");
                    background-repeat:no-repeat;
                    background-position: center;
                    background-size: 100%;
                }
    .nav-menu{
        display: none;
        width: 100%;
        padding: 28px 0px;
        position: absolute;
        right: 0px;
        top: 133px;
        background-color: #eefbfabf;
    }
        .nav-menu h3{
            margin-left: 10px;
            font-size: var(--xl);
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: var(--black);
        }
        .nav-menu ul{
            margin: 15px 0px;
            margin-left: 17px;
        }
            .nav-menu ul li {
                padding: 6px 0px;
                list-style: none;
            }
                .nav-menu ul li a{
                    font-size: var(--lg);
                    text-decoration: none;
                    color:var(--black)
                }
                .nav-menu ul li a:hover{
                    color: var(--blue);
                    font-weight: 600;
                }
                .us{
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    margin-right: 8px;
                    background: url("../MediaSources/icons/us.png") center no-repeat;
                    background-size: 100% 100%;
                    vertical-align: sub;
                }
                .subscriptions{
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    margin-right: 8px;
                    background: url("../MediaSources/icons/subscription.png") center no-repeat;
                    background-size: 100% 100%;
                    vertical-align: sub;
                }
                .profile{
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    margin-right: 8px;
                    background: url("../MediaSources/icons/profile.png")center no-repeat;
                    background-size: 100% 100%;
                    vertical-align: sub;
                }
        .nav-menu button{
            margin-left: 17px;
            padding: 2px 1px;
            color: var(--blue);
            font-size: 1.5rem;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0);
            border: solid 0px white;
        }
        .nav-menu button:hover{
            font-size: var(--lg);
            color: rgb(199, 149, 23);
        }

/*///////////////////////////////////////////////*/
/*//////////////HEADER-BACKGROUND////////////////*/
/*//////////////////////////////////////////////*/

.header-background{
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../MediaSources/images/mainBackMobile.jpg") no-repeat center fixed;
    background-size: 100% 100%;
}
    .header-background h2{
        width:  285px;
        height: auto;
        text-align: center;
        font-size: var(--xl);
        line-height: 2.8rem;
        word-spacing: 2px;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        color : var(--white)
    }