/*///////////////////////////////////////////////*/
/*////////////////HEADER-NAV////////////////////*/
/*//////////////////////////////////////////////*/

.header-nav{
    height: 95px;
    padding: 20px;
    align-items: center;
}
    .nav-up{
        width: 70%;
        padding: 0px;
        justify-content: flex-start;
    }
        .nav-up h1{
            font-size: var(--xl);
        }
    .nav-down{
        width: 30%;
    }
    .nav-menu{
        width: 320px;
        right: 20px;
        top: 95px;
        border-radius: 5px;
    }

/*///////////////////////////////////////////////*/
/*//////////////HEADER-BACKGROUND////////////////*/
/*//////////////////////////////////////////////*/    

.header-background{
    height: 500px;
    background: url("../MediaSources/images/mainBackDesktop.jpg") no-repeat center fixed;
    background-size: 100% 100%;
}
    .header-background h2{
        font-size: var(--xll);
        line-height: 4rem;
        word-spacing: 5px;
    }