header{
    height: 95px;
    padding: 20px;
    align-items: center;
}
    .header-up{
        width: 70%;
        padding: 0px;

        justify-content: flex-start;
    }
        .header-up h1{
            font-size: var(--xl);
        }
    .header-down{
        width: 30%;
    }
    .header-menu{
        width: 320px;
        right: 20px;
        top: 95px;
        border-radius: 5px;
    }