main{
    width: 100%;
    height: auto;
    background-color: var(--white);
}

/*-------------------------------------------------------*/
.main-container{
    width: 100%;
    height: auto;
    padding: 100px 0px;
    padding-bottom: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
    .main-container h2{
        width: 100%;
        text-align: center;
        font-size: var(--xll);
    }
        .main-container h2 span{
            display: block;
            width: 70px;
            height: 2px;
            margin: 50px auto;
            background-color: var(--blue);
        }
    .workshop{
        width: 88%;
        height: auto;
        max-width: 450px;
        padding: 25px 0px;
        margin: 50px 6%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0px 2px 15px gray;
        cursor: pointer;
    }
    .workshop:hover{
        box-shadow: 0px 0px  20px var(--blue);
    }
        .workshop__h3{
            text-align: center;
            font-size: var(--xl);

            order:10
        }
            .workshop__h3 span{
                display: block;
                width: 35px;
                height: 1px;
                margin: 0px auto;
                margin-top:30px;
                background-color: var(--blue);
            }
        .workshop__video{
            width: 85%;
            height: 200px;
            margin: 0 auto;
            margin-bottom: 25px;

            order:20
        }
        .workshop__p{
            width: 80%;
            margin:0 auto;
            text-align: center;
            font-size: 1.5rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

            order:30
        }

/*----------------------------------------------------------*/
.loader-button{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 45px;
    border: solid 0px;
    border-radius: 50%;
    background: url("../MediaSources/icons/loader.png") center no-repeat;
    background-size: 90% 90%;
    cursor: pointer;
}
/*----------------------------------------------------------*/
.fixed{
    text-align: center;
    padding-bottom: 30px;
    font-size: var(--lg);
    color: rgba(128, 128, 128, 0.837);
}
    .fixed span{
        display: inline-block;
        width: 18px;
        height: 12px;
        background: url("../MediaSources/icons/copyRight.png") no-repeat center;
        background-size: 100% 100%;
    }

/*----------------------------------------------------------*/