.main-container div video{
    height: 250px;
}
.main-container div p{
    font-size: var(--lg);
}

/*------------------------------------------------------*/
.loader-button{
    width: 40px;
    height: 40px;
}

/*-------------------------------------------------------*/
.fixed{
    padding-left: 10px;
}

/*----------------------------------------------------------*/