.workshop__video{
    height: 250px;
}
.workshop__p{
    font-size: var(--lg);
}

/*------------------------------------------------------*/
.main-button{
    width: 40px;
    height: 40px;
}

/*-------------------------------------------------------*/
.main-fixed{
    padding-left: 10px;
}

/*----------------------------------------------------------*/